---
import type { PostEntry } from "~types/post.type";
import Layout from "~layouts/BaseLayout.astro";
import dayjs from "dayjs";
import { render } from "astro:content";
import HeadingsTable from "~components/Table/HeadingsTable.astro";
import PostHero from "~components/Hero/PostHero.astro";
import StickyTableOfContents from "~components/Nav/StickyTableOfContents.astro";
import StickyButtons from "~components/Nav/StickyButtons.astro";
import Comments from "~components/List/Comments.tsx";
import Footer from "~components/Footer/Footer.astro";
interface Props {
  post: PostEntry;
  isAdmin: boolean;
  latestPosts: PostEntry[];
  title?: string;
  description?: string;
  image?: string;
  keywords?: string;
  url?: string;
  type?: string;
  author?: string;
  publishedTime?: string;
  modifiedTime?: string;
}

const {
  post,
  latestPosts,
  title,
  description,
  image,
  keywords,
  url,
  type,
  author,
  publishedTime,
  modifiedTime,
} = Astro.props;

if (!post) {
  return Astro.redirect("/404");
}

const renderResult = await render(post);
const Content = renderResult.Content;
const headings = renderResult.headings;

const formattedDate = dayjs(post.data.createdAt).format("YYYY년 MM월 DD일");
---

<Layout
  title={title || post.data.title}
  image={image || post.data.ogImage}
  description={description}
  keywords={keywords}
  url={url}
  type={type}
  author={author || post.data.author}
  publishedTime={publishedTime || post.data.createdAt}
  modifiedTime={modifiedTime || post.data.updatedAt}
>
  <PostHero post={post} slot="hero" />

  <article class="relative mx-auto mb-10">
    <div class="relative">
      {/* 본문 */}
      <div class="prose prose-sm md:prose">
        <!-- <HeadingsTable class="block xl:hidden" headings={headings} /> -->
        <StickyTableOfContents class="hidden xl:block" headings={headings} />
        <StickyButtons class="hidden xl:block" />
        {/* 마크다운 콘텐츠 */}
        <div>
          <Content />
          <Comments client:only="react" />
        </div>
      </div>
    </div>
  </article>
  <Footer slot="footer" latestPosts={latestPosts} />
</Layout>
