---
import "~styles/global.css";
import Layout from "~layouts/BaseLayout.astro";
import { EDUCATIONS, FEATURED_STACK_IDS, ABOUT_ME } from "~constants/about";
import profileImage from "~assets/images/profile.webp";
import ProfileHeader from "~components/Header/ProfileHeader.astro";
import SectionWithHeader from "~components/Section/SectionWithHeader.astro";
import type { ProjectEntry } from "~types/project.type";
import { repositoryContainer } from "~modules/repository.module";
import {
  PROJECT_REPOSITORY,
  type ProjectRepository,
} from "~modules/repositories/projects/ProjectRepository";
import {
  ACTIVITY_REPOSITORY,
  ActivityRepository,
} from "~modules/repositories/activities/ActivityRepository";
import PortfolioListItems from "~components/List/PortfolioListItems.astro";
import EducationListItems from "~components/List/EducationListItems.astro";
import {
  CareerRepository,
  CAREER_REPOSITORY,
} from "~modules/repositories/careers/CareerRepository";

const projectRepository =
  repositoryContainer.get<ProjectRepository>(PROJECT_REPOSITORY);
const activitiesRepository =
  repositoryContainer.get<ActivityRepository>(ACTIVITY_REPOSITORY);
const careersRepository =
  repositoryContainer.get<CareerRepository>(CAREER_REPOSITORY);

const activities = await activitiesRepository.getActivities({
  sort: {
    field: "endedAt",
    order: "desc",
  },
});
const careers = await careersRepository.getCareers({
  sort: {
    field: "endedAt",
    order: "desc",
  },
});
const relatedProjects: Record<number, ProjectEntry[]> = {};
for (const stackId of FEATURED_STACK_IDS) {
  const projects = await projectRepository.getProjects({
    filter: {
      stackIds: [stackId],
    },
    sort: {
      field: "endedAt",
      order: "desc",
    },
  });
  relatedProjects[stackId] = projects.items;
}
---

<Layout title="About Me">
  <article class="mx-auto w-full">
    <!-- 헤더 영역
      <div class="flex-row justify-between items-center w-full max-w-6xl mx-auto px-4 pb-12 hidden sm:flex print:hidden">
        <h1 class="text-2xl font-bold text-black-accent">About Me</h1>
        <button 
          id="exportPdfBtn"
          class="flex items-center gap-2 px-4 py-2 text-sm font-medium text-white-base bg-skin-accent rounded-lg hover:bg-skin-accent-hover transition-colors"
        >
          <FaFilePdf />
          <span>PDF로 저장</span>
        </button>
      </div> -->
    <div class="mx-auto w-full max-w-6xl px-4 pb-4">
      <ProfileHeader
        name="Astor"
        realName="김도훈"
        role="Software Engineer"
        imageSrc={profileImage.src}
        info={{
          // birth: "2001.12.10",
          phone: "010-3335-7862",
          email: "orangnlp@gmail.com",
          education: {
            school: EDUCATIONS[0].school,
            majors: EDUCATIONS[0].majors,
            year: EDUCATIONS[0].startedAt + " - " + EDUCATIONS[0].endedAt,
          },
          // location: "Seoul, Korea",
          github: "astor-dev",
          website: "https://astor-dev.com",
        }}
      />

      <div>
        <SectionWithHeader title="About Me">
          <p
            class="text-sm leading-relaxed text-black-base"
            set:html={ABOUT_ME}
          />
        </SectionWithHeader>
      </div>

      <SectionWithHeader title="Careers">
        <div>
          {
            careers.items.map((career, index) => (
              <>
                <PortfolioListItems props={career} />
                {index !== careers.items.length - 1 && <hr class="my-4" />}
              </>
            ))
          }
        </div>
      </SectionWithHeader>

      <SectionWithHeader title="Activities">
        <div>
          {
            activities.items.map((activity, index) => (
              <>
                <PortfolioListItems props={activity} />
                {index !== activities.items.length - 1 && <hr class="my-4" />}
              </>
            ))
          }
        </div>
      </SectionWithHeader>
      <SectionWithHeader title="Education">
        <div>
          {
            EDUCATIONS.map((education, index) => (
              <>
                <EducationListItems education={education} />
                {index !== EDUCATIONS.length - 1 && <hr class="my-4" />}
              </>
            ))
          }
        </div>
      </SectionWithHeader>

      <!-- <SectionWithHeader title="Contact">
        <div
          class="prose prose-sm max-w-none md:prose lg:prose-lg prose-headings:text-black-accent"
        >
          <ul>
            <li>
              Email: <a href="mailto:astoir@example.com">astoir@example.com</a>
            </li>
            </li>
            <li>
              LinkedIn: <a
                href="https://linkedin.com/in/astoir"
                target="_blank"
                rel="noopener noreferrer">linkedin.com/in/astoir</a
              >
            </li>
          </ul>
        </div>
      </SectionWithHeader> -->
    </div>
  </article>

  <script>
    const exportBtn = document.getElementById("exportPdfBtn");
    if (exportBtn) {
      exportBtn.addEventListener("click", () => {
        window.print();
      });
    }
  </script>
</Layout>
