---
import { FaClock, FaHashtag, FaUser } from "react-icons/fa";
import dayjs from "dayjs";
import type { PostEntry } from "~types/post.type";
import ImageWithSkeleton from "~components/Skeleton/ImageWithSkeleton";

interface Props {
  post: PostEntry;
}

const { post } = Astro.props;
const formattedDate = dayjs(post.data.createdAt).format("YYYY년 MM월 DD일");
---

<header
  class="relative h-[66dvh] w-full overflow-hidden text-center sm:h-[40dvh]"
>
  <!-- 배경 이미지 (절대 위치로 부모 안에 배치) -->
  <div class="absolute inset-0 z-0">
    <ImageWithSkeleton
      src={post.data.ogImage}
      alt={post.data.title}
      className="h-full w-full object-cover"
      client:load
    />
  </div>
  <!-- 배경 오버레이 (이미지 위) -->
  <div class="absolute inset-0 z-10 bg-black opacity-70"></div>
  <div
    id="hero-content"
    class="relative z-20 flex h-full flex-col items-center justify-center px-4 text-center transition-opacity duration-700"
  >
    {/* 태그 */}
    <div class="mb-6 flex flex-wrap justify-center gap-2">
      {
        post.data.tags.map(tag => (
          <span class="inline-flex items-center gap-1.5 rounded-full bg-skin-accent px-3 py-1 text-sm font-medium text-white-accent">
            <a href={`/blog/tag/${tag}`}>
              <FaHashtag className="h-3 w-3 opacity-70" />
              {tag}
            </a>
          </span>
        ))
      }
    </div>
    {/* 제목 */}
    <h1
      class="from-black-accent mb-6 bg-gradient-to-r to-skin-accent bg-clip-text text-4xl font-bold text-white-accent sm:text-5xl"
    >
      {post.data.title}
    </h1>
    {/* 메타 정보 */}
    <div
      class="flex items-center justify-center gap-4 text-sm text-black-muted"
    >
      <div class="flex items-center gap-2">
        <FaUser className="h-4 w-4" />
        <span>{post.data.author}</span>
      </div>
      <div class="flex items-center gap-2">
        <FaClock className="h-4 w-4" />
        <time datetime={post.data.createdAt}>{formattedDate}</time>
      </div>
    </div>
  </div>
</header>
