---
import { navItems } from "~common/constants/blog";
import type { PostEntry } from "~common/types/post.type";
import type { SeriesEntry } from "~common/types/series.type";
import Layout from "~common/layouts/base-layout.astro";
import BlogCenterNav from "~features/blog/components/blog-center-nav.astro";
import SeriesPostItem from "~features/blog/components/series/series-post-item.astro";
import ModernTextHero from "~common/components/heros/modern-text-hero";

interface Props {
  series: SeriesEntry;
  posts: PostEntry[];
}

const { series, posts } = Astro.props;

if (!series) {
  return Astro.redirect("/404");
}
---

<Layout title={series.data.name} image={series.data.ogImage}>
  <ModernTextHero
    title="*Tech* Blog"
    content="직접 구현하고 검토를 거친 기술적 선택과 설계를 정리해 남깁니다"
    client:load
  />
  <BlogCenterNav items={navItems} currentPath="/blog/series" />

  <article class="mx-auto my-11 max-w-[1200px] pb-8">
    <div class="mb-8">
      <h2 class="text-2xl font-bold text-black-accent">
        {series.data.name}
        <span class="text-sm text-black-muted">({posts.length})</span>
      </h2>
    </div>
    {
      posts.length > 0 ? (
        <>
          <ol id="post-list" class="flex flex-col">
            {posts.map((post, index) => (
              <SeriesPostItem post={post} index={index} />
            ))}
          </ol>
        </>
      ) : (
        <p>아직 등록된 포스트가 없습니다.</p>
      )
    }
  </article>
</Layout>
