---
import type { ActivityEntry } from "~common/types/activity.type";

interface Props {
  activity: ActivityEntry;
}

const { activity } = Astro.props;
const periodText = `${activity.data.startedAt} - ${activity.data.endedAt ?? "Present"}`;
---

<div class="bg-white-base">
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
    <!-- 좌측: 기본 정보 (회사, 역할, 기간, 기술스택) -->
    <div class="space-y-4 sm:col-span-1">
      <div>
        <h4 class="text-xs text-black-base/60">
          <span class="text-skin-accent">{activity.data.organizationName}</span>
        </h4>
        <h3 class="text-sm font-bold text-black-accent">
          {activity.data.role}
        </h3>
        <p class="text-xs text-black-base/60">{periodText}</p>
      </div>

      <!-- <div class="space-y-2">
        <p class="text-xs font-medium text-black-base/60">주요 기술 스택</p>
        <div class="flex flex-wrap gap-2">
          {
            usedStacks.map(stack => (
              <div class="bg-skin-card inline-flex items-center gap-1.5 rounded-full px-2.5 py-1 text-xs">
                <span class="text-skin-accent">
                  <stack.icon />
                </span>
                <span>{stack.name}</span>
              </div>
            ))
          }
        </div>
      </div> -->
    </div>

    <!-- 우측: body 내용 (설명 리스트) -->
    <div class="space-y-4 sm:col-span-2">
      {
        activity.data.body.map(section => (
          <div class="space-y-1">
            <h2 class="text-base font-bold text-black-accent">
              {section.heading}
            </h2>
            <p class="text-xs text-black-base/60">{section.description}</p>
            <ul class="my-3 ml-5 list-disc space-y-1 text-xs text-black-base">
              {section.lists.map(item => (
                <li>{item}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</div>
