---
import Footer from "~components/Footer/Footer";
import NavBar from "~components/Header/NavBar";
import BreadcrumbNavigator from "~components/Breadcrumb/BreadcrumbNavigator";
import "~styles/global.css";
import Hero from "~components/Hero/Hero";
import { SkeletonProvider } from "~components/Skeleton/SkeletonProvider";
import Seo from "~components/Seo/Seo.astro";
import type { PostEntry, PostTitleAndId, Series, Tag } from "~types/post.type";
import { repositoryContainer } from "~modules/repository.module";
import { POST_REPOSITORY, type PostRepository } from "~modules/repositories/posts/PostRepository";
interface Props {
  useScrollHide?: boolean;
  title?: string;
}

const { useScrollHide = true, title } = Astro.props;
const postRepository = repositoryContainer.get<PostRepository>(POST_REPOSITORY);
const tags: Tag[] = await postRepository.getAllTags();
const seriesList: Series[] = await postRepository.getAllSeries();
const posts: PostTitleAndId[] = await postRepository.getAllPostTitleAndId();

const currentPath = Astro.url.pathname;
const shouldRenderHero = currentPath === "/";
const shouldShowBreadcrumb = currentPath !== "/"  // 루트 및 특정 경로 제외
const shouldMakeSpaceForNavBar = useScrollHide === true && !shouldRenderHero;
---


<!doctype html>
<html lang="ko" data-theme="light" class="w-full">
  <Seo />
  <body class="flex w-full flex-col text-skin-base">
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFD92VH3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <SkeletonProvider>
      <NavBar
        client:load
        tags={tags}
        posts={posts}
        series={seriesList}
        initialShowNav={!shouldRenderHero}
        pathname={currentPath}
        useScrollHide={useScrollHide}
      />
      {shouldRenderHero && <Hero client:load />}
      <!-- 메인 콘텐츠 영역: 반응형 컨테이너 적용 예시 -->
      <main class="relative w-full flex-1 bg-skin-background px-[5vw]  2xl:px-[15vw]">
        <!-- Navbar를 보여주는 경우 Navbar+12px 띄워줌 -->
        {shouldMakeSpaceForNavBar && <div class="h-[84px] w-full" />}
        {shouldShowBreadcrumb && <BreadcrumbNavigator pathname={currentPath} />}
        <!-- 페이지별 콘텐츠는 slot을 통해 들어옴 -->
        <slot />
      </main>

      <!-- 푸터 (Footer) -->
      <Footer client:load />
    </SkeletonProvider>
  </body>
</html>
